<div id="<%= dom_id client %>">
  <p>
    <strong>Nom:</strong>
    <%= client.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= client.prenom %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= client.description %>
  </p>

  <p>
    <strong>Date debut:</strong>
    <%= client.date_debut %>
  </p>

  <p>
    <strong>Date fin:</strong>
    <%= client.date_fin %>
  </p>

</div>
